<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript">

function fail(thing) {
  throw new Error(thing);
}

function warn(thing) {
  console.log(["警告：", thing].join(''));
}

function note(thing) {
  console.log(["情報：", thing].join(''));
}

function parseAge(age) {
  if (!_.isString(age)) fail("引数は文字列である必要があります");
  var a;

  note("ageを数値に変換しようとしています");

  a = parseInt(age, 10);

  if (_.isNaN(a)) {
    warn(["ageを数値に変換できませんでした：", age].join(''));
    a = 0;
  }

  return a;
}

console.log( parseAge("frob") );

</script>

<script type="text/javascript">

var letters = ['a', 'b', 'c'];

console.log( letters[1] );

function nativeNth(a, index) {
  return a[index];
}

console.log( nativeNth(letters, 1) );

console.log( nativeNth({}, 1) );

function isIndexed(data) {
  return _.isArray(data) || _.isString(data);
}

function nth(a, index) {
  if (!_.isNumber(index)) fail("インデックスは数値である必要があります");
  if (!isIndexed(a)) fail("インデックス指定可能ではないデータ型はサポートされていません");
  if ((index < 0) || (index > a.length - 1)) fail("指定されたインデックスは範囲外です");
  return a[index];
}

console.log( nth(letters, 1) );
console.log( nth("abc", 0) );
//console.log( nth({}, 2) );
//console.log( nth(letters, 'aaa') );

function second(a) {
  return nth(a, 1);
}

console.log( second(['a', 'b']) );
console.log( second("fogus") );
console.log( second({}) );


</script>
