<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

console.log( [2, 3, -6, 0, -108, 42].sort() );
console.log( [0, -1, -2].sort() );
console.log( [2, 3, -1, -6, 0, -108, 42, 10].sort() );

console.log( [2, 3, -1, -6, 0, -108, 42, 10].sort(function(x, y) {
  if (x < y) return -1;
  if (y < x) return 1;
  return 0;
}));

function compareLessThanOrEqual(x, y) {
  if (x < y) return -1;
  if (y < x) return 1;
  return 0;
}
console.log( [2, 3, -1, -6, 0, -108, 42, 10].sort(compareLessThanOrEqual) );

// コンパレータっぽさに従っているため汎用的な比較ができない
if (compareLessThanOrEqual(1, 1)) console.log("同じか小さい");

if (_.contains([0, -1], compareLessThanOrEqual(1, 1))) console.log("同じか小さい");

function lessOrEqual(x, y) { // 常に真偽値を返す関数をpredicateプレディケートという
  return x <= y;
}

function comparator(pred) {
  return function(x, y) {
    if (truthy(pred(x, y)))
      return -1;
    else if (truthy(pred(y, x)))
      return 1;
    else
      return 0;
  }
}

console.log( [100, 1, 0, 10, -1, -2, -1].sort(comparator(lessOrEqual)) );

function lameCSV(str) {
  return _.reduce(str.split("\n"), function(table, row) {
    table.push(_.map(row.split(","), function(c) { return c.trim() }));
    return table;
  }, []);
}

var peopleTable = lameCSV("name,age,hair\nMarble,35,red\nBob,64,blonde");
peopleTable = _.rest(peopleTable).sort();
console.log(peopleTable);


</script>
