<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript">

function splat(fun) {
  // すべての関数はapplyメソッドをもつ
  return function(array) {
    return fun.apply(null, array);
  }
}

var addArrayElements = splat(function(x, y) { return x + y });

console.log( addArrayElements([1, 2]) );

function unsplat(fun) {
  // 関数内でargumentsというローカル変数にアクセスできる
  return function() {
    return fun.call(null, _.toArray(arguments));
  }
}

var joinElements = unsplat(function(array) { return array.join(' ') });

console.log( joinElements(1, 2) );
console.log( joinElements('-', '$', '/', '!', ':') );

</script>
