<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

// ある条件がtrueのときのみアクションを実行しそれ以外の場合はnullやundefinedを返すパターン
/*
{
  if (condition)
    return _.isFunction(doSomething) ? doSomething() : doSomething;
  else
    return undefined;
}
*/

function doWhen(cond, action) {
  if (truthy(cond))
    return action();
  else
    return undefined;
}

function executeIfHasField(target, name) {
  return doWhen(existy(target[name]), function() {
    var result = _.result(target, name);
    console.log(["結果は", result].join(''));
    return result;
  });
}

console.log( executeIfHasField([1, 2, 3], 'reverse') );
console.log( executeIfHasField({foo: 42}, 'foo') );
console.log( executeIfHasField([1, 2, 3], 'notHere') );

console.log( [null, undefined, 1, 2, false].map(existy) );
console.log( [null, undefined, 1, 2, false].map(truthy) );

</script>
