<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

aGlovalVariable = 'livin la vida global'; // global scope

console.log( _.map(_.range(2), function() { return aGlovalVariable }) );

aGlovalVariable = 'i drink your milkshake';

console.log(aGlovalVariable);

// グローバルスコープ 無政府状態 危険 休日返上
// varなしで定義した変数や ↓ のようなオブジェクトはどこからでも可変
function makeEmptyObject() {
  return new Object();
}


aVariable = "外";

function aFun() {
  var aVariable = "内";
  return _.map([1,2,3], function(e) {
    var aVariable = "最内";
    return [aVariable, e].join(' ');
  });
}

console.log( aFun() );

</script>
