<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

var globals = {};

// 動的スコープ = 名前と名前に紐付いている値のペアを格納したグルーバルなテーブル

function makeBindFun(resolver) {
  return function(k ,v) {
    var stack = globals[k] || [];
    globals[k] = resolver(stack, v);
    return globals;
  }
}

// globals変数とmakeBindFun()を定義し、globals変数にバインディングを追加するポリシーの設定

var stackBinder = makeBindFun(function(stack, v) {
  stack.push(v);
  return stack;
});

var stackUnbinder = makeBindFun(function(stack) {
  stack.pop();
  return stack;
});

var dynamicLookup = function(k) {
  var slot = globals[k] || [];
  return _.last(slot);
}

stackBinder('a', 1);
stackBinder('b', 100);

console.log( dynamicLookup('a') );

console.log( globals );

stackBinder('a', '*');

console.log( dynamicLookup('a') );
console.log( globals );

stackUnbinder('a');
console.log( dynamicLookup('a') );

// グローバルで名前付けされたスタックはどこからでも書き換えれるから以下のような問題に

function f() { return dynamicLookup('a'); };
function g() { stackBinder('a', 'g'); return f(); };

console.log( f() );
console.log( g() );

// f()の戻り値は g()の気まぐれで決まってしまう 動的スコープのもつ毒性
// ダイナミックバインディングを明示的にアンバインドする必要がある。

</script>
