<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

function globalThis() { return this; }

console.log( globalThis() );

console.log( globalThis.call('barnabas') );

console.log( globalThis.call('orsulak', []) );

var nopeThis = _.bind(globalThis, 'nope');

// var newfunc = _.bind(func, context);

console.log( nopeThis.call('wat') );

// _.bindAll関数により すべてのメソッドは this参照が第１引数のオブジェクトに固定される

var target = {
  name: '正しい値',
  aux : function () { return this.name; },
  act : function () { return this.aux(); }
};

// console.log( target.act.call('wat') );
console.log( target.act.call({aux: () => { alert('BAD');} }) );

_.bindAll(target, 'aux', 'act');
console.log( target.act.call('wat') );

</script>
