<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

var fortytwo = function() { return 42 };
console.log(fortytwo);

var fortytwos = [42, function() { return 42 }];
console.log(fortytwos);

var fortytwos = { number: 42, fun: function() { return 42 } };
console.log(fortytwos);

console.log( 42 + (function() { return 42 })() );

function weirfAdd(n, f) { return n + f() }
console.log( weirfAdd(42, function() { return 42 }) );

_.each(['whiskey', 'tango', 'foxtrot'], function(word) {
  console.log(word.charAt(0).toUpperCase() + word.substr(1));
});

</script>
