<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

function lyricSegment(n) {
  return _.chain([])
    .push(n + "本のビールが残ってる")
    .push(n + "本のビール")
    .push("ひとつ取って、隣に回せ")
    .tap(function(lyrics) {
      if (n > 1)
        lyrics.push((n-1) + "本のビールが残ってる");
      else
        lyrics.push("もうビールは残ってない")
    })
    .value();
}

console.log(lyricSegment(9));

function song(start, end, lyricGen) {
  return _.reduce(_.range(start, end, -1),
    function(acc, n) {
      return acc.concat(lyricGen(n));
    }, []);
}

console.log( song(99, 0, lyricSegment) );


console.log(_.each);

var a = {name: "a", fun: function () { return this; }};
console.log( a.fun() );

var bObj = {name: "b", fun: function () {return this; }};
console.log(bObj.fun());

var bFunc = bObj.fun;
console.log(bFunc());


</script>
