<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

function Point2D(x, y) {
  this._x = x;
  this._y = y;
}

console.log(new Point2D(0, 1));

function Point3D(x, y, z) {
  Point2D.call(this, x, y);
  this._z = z;
}
console.log(new Point3D(10, -1, 100));

</script>
