<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

console.log( _.map({a: 1, b: 2}, _.identity) );

console.log( _.map({a: 1, b: 2}, function(v, k) { return [k, v] } ) );

console.log( _.map({a: 1, b: 2}, function(v, k, coll) { return [k, v, _.keys(coll)] } ) );

</script>
