<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

var nums = [100, 2, 25];

function div(x, y) { return x/y };

console.log( _.reduce(nums, div) );
console.log( _.reduceRight(nums, div) );

function allOf (/* 1つ以上の関数 */) {
  return _.reduceRight(arguments, function(truth, f) {
    return truth && f();
  }, true);
}

function anyOf (/* 1つ以上の関数 */) {
  return _.reduceRight(arguments, function(truth, f) {
    return truth || f();
  }, false);
}

function T() { return true }
function F() { return false }

console.log( allOf() );
console.log( allOf(T, T) );
console.log( allOf(T, T, T, T, F) );
console.log( anyOf(T, T, F) );
console.log( anyOf(F, F, F, F) );
console.log( anyOf() );


console.log( _.find(['a', 'b', 3, 'd'], _.isNumber) );

console.log( _.reject(['a', 'b', 3, 'd'], _.isNumber) );

function complement(pred) {
  return function() {
    return !pred.apply(null, _.toArray(arguments));
  };
}

console.log( _.filter(['a', 'b', 3, 'd'], complement(_.isNumber)) );

var people = [{name: 'Rick', age: 30}, {name: 'Jaka', age: 24}];
console.log( _.sortBy(people, function(p) { return p.age }) );

var albums = [{title: 'Sabbath Bloody Sabbath', genre: 'Metal'},
              {title: 'Scientist', genre: 'Dub'},
              {title: 'Undertow', genre: 'Metal'}];
console.log( _.groupBy(albums, function(a) { return a.genre }) );
console.log( _.countBy(albums, function(a) { return a.genre }) );
              

console.log( cat([1,2,3], [4,5], [6,7,8]) );
console.log( construct(42, [1,2,3]) );

function mapcat(fun, coll) {
  return cat.apply(null, _.map(coll, fun));
}

console.log( mapcat(function(e) {
    return construct(e, [',']);
}, [1,2,3]) );

function butLast(coll) {
  return _.toArray(coll).slice(0, -1);
}

function interpose(inter, coll) {
  return butLast(mapcat(function(e) {
    return construct(e, [inter]);
  }, coll));
}

console.log( interpose(',', [1,2,3]) );

</script>
