<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

var zombie = {name: 'Bub', film: 'Day of the Dead'};

console.log( _.keys(zombie) );
console.log( _.values(zombie) );

console.log( _.pluck([{title: 'Chthon', author: 'Anthony'},
                      {title: 'Grendel', author: 'Gardner'},
                      {title: 'After Dark'}],
                      'author') );

console.log( _.pairs(zombie) );

console.log( _.object(_.map(_.pairs(zombie), function(pair) {
  return [pair[0].toUpperCase(), pair[1]];
})) );

console.log( _.invert(zombie) );

console.log( _.keys(_.invert({a: 138, b: 9})) );

console.log( _.pluck(_.map([{title: 'Chthon', author: 'Anthony'},
                      {title: 'Grendel', author: 'Gardner'},
                      {title: 'After Dark'}], function(obj) {
                      return _.defaults(obj, {author: 'Unknown'})
}), 'author') );

var person = {name: 'Romy', token: 'j3983ij', password: 'tigress'};
var info = _.omit(person, 'token', 'password');
console.log( info );

var creds = _.pick(person, 'token', 'password');
console.log( creds );


var library = [{title: 'SICP', isbn: '0262010771', ed: 1},
               {title: 'SICP', isbn: '0262510871', ed: 2},
               {title: 'Joy of Clojure', isbn: '1935182641', ed: 1}];
console.log( _.findWhere(library, {title: 'SICP', ed:2}) );
console.log( _.where(library, {title: 'SICP'}) );
</script>
