<script type="text/javascript" src="../underscore-min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript">

var library = [{title: 'SICP', isbn: '0262010771', ed: 1},
               {title: 'SICP', isbn: '0262510871', ed: 2},
               {title: 'Joy of Clojure', isbn: '1935182641', ed: 1}];

function project(table, keys) { // 投影
  return _.map(table, function(obj) {
    return _.pick.apply(null, construct(obj, keys));
  });
}
var editionResults = project(library, ['title', 'isbn']);
console.log ( editionResults );

var isbnResults = project(editionResults, ['isbn']); //editionResultsは同じテーブルのような構造のため再度project関数を適用できる
console.log( isbnResults );

console.log( _.pluck(isbnResults, 'isbn') );
/*
データ構造の破壊によるデータ抽出はあるモジュールから別のモジュールにデータを引き渡すための操作
*/

function as(table, newNames) {
  return _.map(table, function(obj) {
    return rename(obj, newNames);
  });
}

console.log( as(library, {ed: 'edition'}) );

console.log( project(as(library, {ed: 'edition'}), ['edition']) );

function restrict(table, pred) {  // WHERE句と同様の働きをする
  return _.reduce(table, function(newTable, obj) {
    if (truthy(pred(obj)))
      return newTable
    else
      return _.without(newTable, obj);
  }, table);
}

restrict(library, function(book) {
  return book.ed > 1;
});

console.log( restrict(
  project(
    as(library, {ed: 'edition'}),
    ['title', 'isbn', 'edition']),
    function(book) {
      return book.edition > 1;
    }
) );

</script>
